@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;    
}
body{
    scroll-behavior: smooth;
}
@import 'blocks/mobile';
@import 'blocks/skewed-bottom-right';
@import 'blocks/dropzone';
@import 'blocks/hint';